---
---
@use "vars" as *;
@import "{{ site.theme }}";

body {
    background: $body-bg-color;
}

// Header
.page-header {
    border-bottom: 0.5rem solid $border-color;
}

// Step navigation
.navbar {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
}

// Formatted code block
.main-content .highlight pre, .main-content pre {
    border-radius: 0;
}

// Footer
.site-footer {
    margin-top: 10rem;
    border-top-width: 0.5rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(120deg, transparentize(#6c00c4, 0.7), transparentize(#9b5816, 0.7))
}