---
---
// Own additions
$body-bg-color: #202020;
$header-nav-width: 24rem;

// Override defaults

// Breakpoints
$large-breakpoint: calc(64em + $header-nav-width);
$medium-breakpoint: calc(42em + $header-nav-width);

// Headers
$header-heading-color: #fff;
$header-bg-color: #9b5816;
$header-bg-color-secondary: #6c00c4;

// Text
$section-headings-color: #a47242;
$body-text-color: #8a8a8a;
$body-link-color: #8971bd;
$blockquote-text-color: #819198;

// Code
$code-bg-color: #2f2f2f;
$code-text-color: #b3978a;

// Borders
$border-color: #544b57;
$table-border-color: #544b57;
$hr-border-color: #544b57;

@import "{{ site.theme }}";

body {
    background: $body-bg-color;
}

// Header
.page-header {
    border-bottom: 0.5rem solid $border-color;
}

// Step navigation
.steps-nav {
    display: flex;
    justify-content: center;
}

.page-wrapper {
    display: flex;
    align-items: flex-start;

    @include large {
        padding: 2rem 6rem;
        gap: 2rem;
    }

    @include medium {
        padding: 2rem 4rem;
        gap: 2rem;
    }

    @include small {
        padding: 2rem 1rem;
        gap: 1rem;
    }
}

.headings-nav {
    width: $header-nav-width;
    font-size: 1.1rem;
    position: sticky;
    top: 0;

    li {
        list-style: none;
    }
    
    a {
        color: $section-headings-color;
    }
}

.main-content {
    @include large {
        max-width: 64rem;
        margin: 0 auto;
        font-size: 1.1rem;
    }

    @include medium {
        font-size: 1.1rem;
    }

    @include small {
        font-size: 1rem;
    }
}

// Formatted code block
.main-content .highlight pre,
.main-content pre {
    border-radius: 0;
}

// Footer
.site-footer {
    margin-top: 10rem;
    border-top-width: 0.5rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(
        120deg,
        transparentize(#6c00c4, 0.7),
        transparentize(#9b5816, 0.7)
    );
}
